# Week 01 
# FIRST	STEPS TOWARDS PROGRAMMING

In [2]:
print("Hello world!")

Hello world!

In [3]:
# Using Python As A Calculator	
print(5 +5)
print(10.5 - 2 * 3)
print(100 ** 2)
print(17.0 // 3)
print(17.0 % 3)
print(5 * 3 + 2)

10
4.5
10000
5.0
2.0
17

## Numbers

In [4]:
# Numbers can be different Type
type(5)

int

In [5]:
type(3.5)

float

In [6]:
float(12)/5

2.4

In [8]:
type(3 + 2j)

complex

In [9]:
(2 + 1j ) ** 2

(3+4j)

## A: String

In [10]:
'atg'

'atg'

In [11]:
"atg"

'atg'

In [12]:
'''
>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat
'''

'\n>dna1\natgacgtacgtacgtacgtagctagctataattagc\ncgtacgt\n>dna2\nttggtgtcgccgcccccgcgttttaatatgcgctat\n'

### Escape	Characters	
Construct | Meaning |
---| ---|
`\n` | Newline |
`\t` | tab |
`\\` | Backslash |
`\"` | Double quote |

In [13]:
# Printing	Strings	Nicely	
print('''
>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat
''')

>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat

### Basic String Operators	
Operators | Functions |
---| ---|
 `+` | Concatenate strings |
`*` | Replicate strings |
`in` | Membership operators |
` not in` | Non- membership operators |

In [1]:
'atg' + 'gtacgtccgt'

'atggtacgtccgt'

In [2]:
'atgc' * 3

'atgcatgcatgc'

In [3]:
'atg' in 'atggtacgtccgt'

True

In [4]:
'atgc' not in 'atggtacgtccgt'

True

## More String Operators	
  
- `[x]` indexing: gives the character at position x in a string
- `[x:y]`slicing: gives a substring between positions x and y in a string

In [7]:
dna="gatcccccgatattatttgc"
dna

'gatcccccgatattatttgc'

In [8]:
dna[0]

'g'

In [9]:
dna[-1]

'c'

In [10]:
dna[-2]

'g'

In [12]:
dna[0:3]

'gat'

In [13]:
dna[2:]

'tcccccgatattatttgc'

In [14]:
dna[:10]

'gatcccccga'

### A Useful String Function
- The built-­‐in function `len()` returns the length of a string:

In [15]:
len(dna)

20

In [16]:
type(dna)

str

In [18]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

### Strings as Objects	
- The method `count()` can also count substrings:

In [19]:
dna.count('c')

6

### More Useful String Functions

In [20]:
dna

'gatcccccgatattatttgc'

In [21]:
dna.upper()

'GATCCCCCGATATTATTTGC'

In [24]:
dna.find('ccc')

3

In [26]:
dna.find('ccc',3 +1)

4

In [27]:
dna.isupper()

False

In [28]:
dna.islower()

True

## B: VARIABLES	- Variables	
  are	
  storage	
  containers	
  for	
  numbers,	
  strings,	
  etc.	
  	
  
- The	
  equal	
  sign	
  (=)	
  is	
  used	
  to	
  assign	
  a	
  value	
  to	
  a	
  variable:

In [5]:
codon = 'atg'
dna = 'atgcttccggaa'

### Variables		
  **Tips And Notes**	
 
 - Give meaningful names to variables: e.g. `dnaSequence` is better than `s`
 - They are case-sensitive. This means that the following variables are different (i.e. they refer to different values)
 - Variable names can ONLY consist of letters, numbers (not the first letter), and the underscore character.
   - **Valid names**: name, _str, DNA , sequence1
   - **Invalid names**: 1string, name#, year@20

In [6]:
# aLL are different variable
myvariable = 1
MyVariable = 2
MYVARIABLE = 3

### Write the code of your program in a file and then pass the file	 to the Python interpreter:

In [29]:
#!/usr/bin/python
dna = 'acgctcgcgcggcgatagctgatcgatcggcgcgctttttttttaaaag'
no_c = dna.count('c')
no_g = dna.count('g')
dna_length = len(dna)
gc_percent = (no_c + no_g) * 100.0 / dna_length
print(gc_percent)

53.06122448979592

## Some Conversion Functions
Function | Description	
--- | --- |
`int(x [,base])` | converts x to an integer	
`float(x)` | convert `x` to a floating-­‐point	(real) number	
 `complex(real[,imag])` | creates a complex number	
`str(x)` | converts	`x` to a string	
`chr(x)` | converts	an integer to a character

In [30]:
chr(65)

'A'

In [31]:
float('8')

8.0

In [32]:
complex(78)

(78+0j)

### Fancier Output Formating

In [35]:
print("The DNA sequence’s GC content is",gc_percent, "%")

The DNA sequence’s GC content is 53.06122448979592 %

### The Formatting String

In [36]:
print("%d" % 10.6)

10

In [37]:
print("%3d" % 10.6)

 10

In [38]:
print("%o" % 10)

12

In [39]:
print("%3d" % 10.6)

 10

In [40]:
print("%s" % dna)

acgctcgcgcggcgatagctgatcgatcggcgcgctttttttttaaaag