# Week 01 
# FIRST	STEPS TOWARDS PROGRAMMING

In [2]:
print("Hello world!")

Hello world!

In [3]:
# Using Python As A Calculator	
print(5 +5)
print(10.5 - 2 * 3)
print(100 ** 2)
print(17.0 // 3)
print(17.0 % 3)
print(5 * 3 + 2)

10
4.5
10000
5.0
2.0
17

## Numbers

In [4]:
# Numbers can be different Type
type(5)

int

In [5]:
type(3.5)

float

In [6]:
float(12)/5

2.4

In [8]:
type(3 + 2j)

complex

In [9]:
(2 + 1j ) ** 2

(3+4j)

## String

In [10]:
'atg'

'atg'

In [11]:
"atg"

'atg'

In [12]:
'''
>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat
'''

'\n>dna1\natgacgtacgtacgtacgtagctagctataattagc\ncgtacgt\n>dna2\nttggtgtcgccgcccccgcgttttaatatgcgctat\n'

### Escape	Characters	
Construct | Meaning |
---| ---|
`\n` | Newline |
`\t` | tab |
`\\` | Backslash |
`\"` | Double quote |

In [13]:
# Printing	Strings	Nicely	
print('''
>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat
''')

>dna1
atgacgtacgtacgtacgtagctagctataattagc
cgtacgt
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctat